# Starter pipeline
# Start with a minimal pipeline that you can customize to build and deploy your code.
# Add steps that build, run tests, deploy, and more:
# https://aka.ms/yaml

trigger:
  branches:
    include:
    - "*"
    exclude:
    - upstream/*


pool:
  vmImage: 'ubuntu-latest'


steps:
- checkout: self

- script: make init
  displayName: 'build compile environment'

- script: make sync
  displayName: 'sync dependencies'

- script: make app
  displayName: 'build application'

- script: make release
  displayName: 'build release image'

- script: docker run -d --rm -v `pwd`/examples/peerconnection/serverless/corpus:/app -w /app --name alphartc alphartc peerconnection_serverless receiver.json
            && docker exec alphartc peerconnection_serverless sender.json
  displayName: 'run example'

- script: docker run -d --rm -v `pwd`/examples/peerconnection/serverless/corpus:/app -w /app --name alphartc_pyinfer alphartc peerconnection_serverless receiver_pyinfer.json
            && docker exec alphartc_pyinfer peerconnection_serverless sender_pyinfer.json
  displayName: 'run pyinfer example'

- script: docker save alphartc | gzip > alphartc.tar.gz
  displayName: "Export alphartc docker image"

- publish: $(System.DefaultWorkingDirectory)/alphartc.tar.gz
  continueOnError: true
  artifact: alphartc.tar.gz
  displayName: "Archive AlphaRTC Peerconnection"

- task: GitHubRelease@0
  inputs:
    gitHubConnection: 'Pterosaur (1)'
    repositoryName: '$(Build.Repository.Name)'
    action: 'create'
    tagSource: manual
    tag: $(Build.BuildNumber)
    title: alphartc
    assets: '$(System.DefaultWorkingDirectory)/alphartc.tar.gz'
    changeLogCompareToRelease: 'lastFullRelease'
    changeLogType: 'commitBased'
  displayName: "Release target"

- script: docker image tag alphartc:latest $(dockerRegistry)/alphartc:latest
  displayName: 'Tag alphartc image'

- task: Docker@2
  inputs:
    containerRegistry: 'opennetlab Azure registry'
    repository: 'alphartc'
    command: 'push'
    tags: 'latest'
  displayName: "Push alphartc image"
